<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <!-- <%= context.title %> -->
    <title>大数据应用平台</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_772097_efly7azvjv.css">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=moMIflSL2yGiq3VwQ3bynEKE7gl2cjQw"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>